
body {
    background-color: #F8F8F8;
    min-height: 100vh;
}
.help {
    color: gray;
}
.button {
    font-size: 16px;
    background-color: #569aff;
    color: white;
    border-radius: 8px;
}
.button.is-outlined {
    color: #569aff;
    background-color: white;
    border-color: #569aff;
}
.role_obj input[type="radio"] {
    display: none;
}
.role_obj input[type="radio"] + span {
    display: inline-block;
    padding: 8px 80px;
    margin-bottom: 15px;
    border: 1px solid #dfdfdf;
    border-radius: 5px;
    background-color: #ffffff;
    text-align: center;
    cursor: pointer;
}
.role_obj input[type="radio"]:checked + span {
    background-color: #569aff;
    color: #ffffff;
}